#! common
NODE_ENV="development"
# NODE_ENV="production"
KAFKA_BROKERS="localhost:9092"

FRONTEND_URL="http://localhost:3000"

MEDIA_HTTP_BASE_URL="http://localhost:4009"
AUTH_SERVICE_GRPC_URL="localhost:3001"
USER_SERVICE_GRPC_URL="localhost:3002"
POST_SERVICE_GRPC_URL="localhost:3003"
FEED_SERVICE_GRPC_URL="localhost:3004"
CHAT_SERVICE_GRPC_URL="localhost:3005"
MEDIA_SERVICE_GRPC_URL="localhost:3009"
NOTIFICATION_GRPC_URL="localhost:3010"



#! api-gateway
FRONTEND_URL="http://localhost:3001"

API_GATEWAY_HTTP_PORT="4000"
# rateLimit redis
API_GATEWAY_REDIS_HOST="localhost"
API_GATEWAY_REDIS_PORT="6377"




#! auth-service
AUTH_DB_PRIMARY_URL="postgresql://postgres:postgres123@localhost:5432/auth_db?schema=public"
AUTH_DB_REPLICA_URL="postgresql://postgres:postgres123@localhost:5442/auth_db?schema=public"
AUTH_GRPC_PORT="3001"
AUTH_HTTP_PORT="4001"

JWT_ACCESS_SECRET="access_super_secret_key_2024"
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_SECRET="refresh_super_secret_key_2024"
JWT_REFRESH_EXPIRES=7d

MAX_LOGIN_ATTEMPTS=5

PASSWORD_HASH_SOLT=12

AUTH_REDIS_HOST="localhost"
AUTH_REDIS_PORT="6379"





#! notifications-service
# SMTP (Gmail example)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER="shazan****@.com"
SMTP_PASS="qssf ____ xhry tpjj"

NOTIFICATION_MONGO_DB_URL="mongodb://mongo:mongo123@localhost:27016,localhost:27026,localhost:27036/notification_db?replicaSet=notification-rs&authSource=admin"

NOTIFICATION_HTTP_PORT="4010"
NOTIFICATION_GRPC_PORT="3010"

NOTIFICATION_REDIS_HOST="localhost"
NOTIFICATION_REDIS_PORT="6375"

NOTIFICATION_SOCKET_URL="localhost:4010"




#! user-service
USER_DB_PRIMARY_URL="postgresql://postgres:postgres123@localhost:5433/user_db?schema=public"
USER_DB_REPLICA_URL="postgresql://postgres:postgres123@localhost:5443/user_db?schema=public"

USER_GRPC_PORT="3002"
USER_HTTP_PORT="4002"

USER_REDIS_HOST="localhost"
USER_REDIS_PORT="6378"



#! media-service
MEDIA_GRPC_PORT="3009"
MEDIA_HTTP_PORT="4009"
MEDIA_MONGO_DB_URL="mongodb://mongo:mongo123@localhost:27017,localhost:27027,localhost:27037/media_db?replicaSet=media-rs&authSource=admin"

MEDIA_STORAGE_PATH="storage"

MEDIA_REDIS_HOST="localhost"
MEDIA_REDIS_PORT="6376"





#! post service
POST_GRPC_PORT="3003"
POST_HTTP_PORT="4003"

POST_DB_PRIMARY_URL="postgresql://postgres:postgres123@localhost:5434/post_db?schema=public"
POST_DB_REPLICA_URL="postgresql://postgres:postgres123@localhost:5444/post_db?schema=public"

POST_REDIS_HOST="localhost"
POST_REDIS_PORT="6374"







#! feed service
FEED_GRPC_PORT="3004"
FEED_HTTP_PORT="4004"

FEED_REDIS_HOST="localhost"
FEED_REDIS_PORT="6373"





#! chat service
CHAT_HTTP_PORT="4005"
CHAT_GRPC_PORT="3005"

CHAT_MONGO_DB_URL="mongodb://mongo:mongo123@localhost:27015,localhost:27025,localhost:27035/chat_db?replicaSet=chat-rs&authSource=admin"

CHAT_REDIS_HOST="localhost"
CHAT_REDIS_PORT="6372"

CHAT_SOCKET_URL="localhost:4005/chat"
